#divAzul {
  height: 200px;
  width: 200px;
  background-color: blue;
}

#divRojo {
  height: 200px;
  width: 200px;
  background-color: red;
}

#divVerde {
  height: 200px;
  width: 200px;
  background-color: green;
}

#divAmarillo {
  height: 200px;
  width: 200px;
  background-color: yellow;
}
